.list-one{
    list-style-type: none;
    list-style-position: outside;
}

.list-two{
    list-style-type: disc;
    list-style-position: inside;
}

.list-three{
    list-style: circle inside;
}

.list-four{
    list-style-type: square;
}

.list-five{
    list-style-type: decimal;
}

.list-six{
    list-style-type: lower-alpha;
}

.list-seven{
    list-style-type: upper-alpha;
}

.list-eight{
    list-style-type: lower-roman;
}

.list-nine{
    list-style-type: upper-roman;
}