p#colorName{
    color: red;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: overline;
    text-align: left;
    text-shadow: 5px 5px 10px #961204;
    text-indent: 50px;
    letter-spacing: 50px;
}

p#colorRGB{
    color: rgb(200, 100, 150);
    font-family: sans-serif;
    font-size: 5em;
    font-weight: bolder;
    font-style: italic;
    text-transform: lowercase;
    text-decoration: line-through;
    text-align: center;
    text-indent: 5%;
    word-spacing: 50px;
}

p#colorRGBA{
    color: rgb(0, 0, 255, .5);
    font-family: monospace;
    font-size: 100%;
    font-weight: 500;
    font-style: oblique;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: right;
    text-indent: 5em;
}

p#colorHex{
    color: #00ff00;
    font-weight: 900;
}